/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
#wrap{

}

#featured{
	width: 64%;
	float: left;
  max-height: auto;
}
#archive{
	width: 32%;
	float: right;
	margin: 0px 0px 0px 10px;
  height: auto;
}
}
 #lady-bug{
	 width: 32%;
	 float: right;
	 margin: 15px 0px 0px 0px;
 }

 #skaters{
 	width: 32%;
	float: left;
	margin: 15px 10px 0px 10px;
 }

 #heels{
	 width: 32%;
	 float: left;
	 margin: 15px 0px 0px 0px;
 }

 #contact-info{
   width: 32%;
	 float: left;
	 margin: 15px 0px 0px 0px;
 }

 #links{
   width: 32%;
 	float: left;
 	margin: 15px 10px 0px 10px;

 }

 #follow{
   width: 32%;
	 float: left;
	 margin: 15px 0px 0px 0px;

 }
